
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
        <a href="/admin">Dashboard</a>
        </li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>Welcome to your CMS</h1>

            <form action="admin/gen_fake_post" method="POST">
                <div class="form-group">
                    <input name="amount" type="number" class="form-control col-md-10">
                    <button class="btn btn-block btn-secondary col-md-1">Create</button c>
                </div>
            </form>

        </div>
    </div>
</div>