<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin">
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item active">
      <a href="/admin/users">
        Profile
      </a>
    </li>
  </ol>
  <div class="row">
    <div class="col-md-12">
      <h1>
        Profile
      </h1>
    </div>
    <div class="row col-md-12" style="margin-top: 50px;">
      <div class="col-md-4">
        <div id="ProfileImage">
          <img
            src="/uploads/default.jpg"
            alt="----------------------------"
            style="width: 100%;clip-path:circle()"
          />

          <label class="col-md-12" style="margin:10px auto">
            <input
              type="button"
              class="btn btn-block btn-secondary"
              id="pictureBtn"
              value="change Profile Picture"
            />
          </label>
        </div>
      </div>
      <div class="col-md-8">
        <label class="col-md-12 form-group">
          First name:
          <input type="text" class="form-control" name="firstName" value="{{firstName}}" />
        </label>
        <label class="col-md-12 form-group">
          Last name:
          <input type="text" class="form-control" name="lastName" value="{{lastName}}" />
        </label>
        <label class="col-md-12 form-group">
          Email:
          <input type="email" class="form-control" name="email" value="{{email}}" />
        </label>
        <label class="col-md-12" style="margin:10px auto">
          <input
            type="button"
            class="btn btn-block btn-secondary"
            id="passwordBtn"
            value="change Password"
          />
        </label>
        <div class="col-md-12">
          <input
            type="button"
            class="btn btn-primary btn-block"
            id="passwordBtn"
            value="Save"
          />
        </div>
      </div>
    </div>
  </div>
</div>