<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CMS Admin</title>
  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.min.css" rel="stylesheet">
  <!-- Sweet Alert JS Library-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {{!-- JQuery --}}
  <script src="/vendor/jquery/jquery.min.js"></script>
  <!-- Include Editor style. -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.0.6/css/froala_editor.pkgd.min.css" integrity="sha256-IlwjDpkp06csTITuiHnkh8loDaky6iPhZPn8wVKqiCs=" crossorigin="anonymous" />  <!-- Include JS file. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.0.6/js/froala_editor.pkgd.min.js" integrity="sha256-/+4bfnKRHD52UKP7EUrsdjypQwe3fbTgOtVDUVwCm9E=" crossorigin="anonymous"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  {{> admin/nav}}

  <div class="content-wrapper">
    {{> home/flash}}
    {{{body}}}

    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © CMS 2019</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="userModalLabel">User Info:</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">{{user.firstName}} {{user.lastName}} <br/>{{user.email}}</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script> 
    <!-- Custom Editor script -->
    <script>
      FroalaEditor.DefineIcon('buttonIcon', { NAME: 'star', SVG_KEY: 'star'})
      FroalaEditor.RegisterQuickInsertButton('myButton', {
        icon: 'buttonIcon',
        title: 'My Button',
        callback: function () {
          this.html.insert('Hello Froala!');
        },
        undo: true
      })
      new FroalaEditor('#froala-editor', {
        quickInsertButtons: ['image', 'table', 'ol', 'ul', 'myButton'],
        pluginsEnabled: ['quickInsert', 'image', 'table', 'lists'],
        htmlAllowedAttrs: ['name']
      });
    </script>   
  </div>
</body>

</html>
