<!DOCTYPE html>
<html lang="en">

{{> admin/head }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  {{> admin/nav}}

  <div class="content-wrapper">
    {{{body}}}

    {{> admin/footer}}
  </div>
  
</body>

</html>
