<!-- Sidebar Widgets Column -->
<div class="col-md-4">
  <!-- Search Widget -->
  <div class="card my-4">
    <h5 class="card-header">
      Search
    </h5>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." />
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">
            Go!
          </button>
        </span>
      </div>
    </div>
  </div>

  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header">
      Categories
    </h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            {{#each cat}}
              <li>
                <a href="/category/{{genSharp name}}">
                  {{name}}
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">
      Time
    </h5>
    <div class="card-body" id="clock">
      {{genTime date "MMMM Do YYYY, hh:mm:ss a"}}
    </div>
  </div>
</div>

<script>
  $(function(){
    setInterval(()=>{
      $('#clock').text(moment(Date.now()).format("MMMM Do YYYY, hh:mm:ss a"))
    },1000)
  })
</script>