<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin">
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="/admin/posts/myPosts">
        Posts
      </a>
    </li>
    <li class="breadcrumb-item active">
      Create Post
    </li>
  </ol>
  <div class="row">
    <div class="col-12">
      <h1>
        Create Post
      </h1>
      {{#if errors}}
      {{#each errors}}
      <div class="alert alert-danger">
        {{message}}
      </div>
      {{/each}}
      {{/if}}
      <form action="/admin/posts/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="form-group">
            <label for="#category">
              Category
            </label>
            <select name="category" id="category" class="form-control">
              {{#each cat}}
              <option value="{{id}}">
                {{name}}
              </option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label for="status">
              Status
            </label>
            <select name="status" id="status" class="form-control">
              <option value="public">
                Public
              </option>
              <option value="Private">
                Private
              </option>
              <option value="Draft">
                Draft
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="title">
              Title
            </label>
            <input name="title" type="text" class="form-control" id="title" placeholder="Enter Title" />
          </div>
          <div class="form-group">
            <label for="file">
              File
            </label>
            <input name="file" type="file" class="form-control" id="file" />
          </div>
          <div class="form-group">
            <label for="body">
              Body
            </label>
            {{! <textarea
              placeholder="Enter your post..."
              class="form-control"
              name="body"
              id="body"
              rows="5"
            ></textarea> }}
            <textarea name="body" id="froala-editor">
            </textarea>
          </div>
          <div class="form-group">
            <label for="AllowComments">
              Allow comments
              <input checked name="allowComments" type="checkbox" id="AllowComments" />
            </label>
          </div>
          <input type="submit" value="Post" class="btn btn-primary btn-block" />
        </div>
      </form>
    </div>
  </div>
</div>

{{#if postCreate}}
<script>
  swal("Done!", "Post Added successfuly.", "success").then(() => {
    window.location.href = '/admin/posts';
  })
</script>
{{/if}}