
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
        <a href="/admin/posts">Posts</a>
        </li>
        <li class="breadcrumb-item active">Create Post</li>
    </ol>
    <div class="row">
        <div class="col-12">
<h1>Create Post</h1>
<form action="/admin/posts/create" method="POST">

    <div class="form-group">

        <div class="form-group">
            <label for="status">Status</label>
            <select name="status" id="status" class="form-control">
                <option value="public">Public</option>
                <option value="Private">Private</option>
                <option value="Draft">Draft</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input required name="title" type="text" class="form-control" id="title" placeholder="Enter Title" />
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea placeholder="Enter your post..." class="form-control" name="body" id="body" rows="5"></textarea required>
        </div>
        <div class="form-group">
            <label for="AllowComments">
                Allow comments
                <input checked name="allowComments" type="checkbox" id="AllowComments">
            </label>

        </div>
        <input type="submit" value="Post" class="btn btn-primary btn-block">

    </div>

</form>
        </div>
    </div>
</div>

<script>
    {{#if error}}
    swal("Oops!", "Creating Post Faild. Please complete all fields.", "error")
    {{/if}}
    {{#if postCreate}}
        swal("Done!", "Post Added successfuly.", "success").then(()=>{
            window.location.href ='/admin/posts';
        })
    {{/if}}
</script>