<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin">
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="/admin/posts">
        Posts
      </a>
    </li>
    <li class="breadcrumb-item active">
     Edit Post
    </li>
  </ol>
  <div class="row">
    <div class="col-12">
      <h1>
        Edit Post
      </h1>
      <form action="/admin/posts/edit/{{post._id}}?_method=PUT" method="POST"  enctype="multipart/form-data">
        <div class="form-group">
          <div class="form-group">
            <label for="status">
              Status
            </label>
            <select name="status" id="status" class="form-control">
        {{#select post.status}}
                <option value="public">Public</option>
                <option value="Private">Private</option>
                <option value="Draft">Draft</option>
        {{/select}}
            </select>
          </div>
          <div class="form-group">
            <label for="title">
              Title
            </label>
            <input
              required
              value="{{post.title}}"
              name="title"
              type="text"
              class="form-control"
              id="title"
              placeholder="Enter Title"
            />
          </div>
          <div class="form-group">
            <label for="postImage">
              File
            </label>
            <img id="postImage" class="img-thumbnail" src="/uploads/{{post.file}}" alt="">
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-2">
                <label data-toggle="collapse" data-target="#file" class="btn btn-secondary btn-block" style="cursor: pointer;">
                    change File ?
                </label>
              </div>
              <div class="col-md-10">
                <input name="file" type="file" class="form-control collapse"  id="file"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="body">
              Body
            </label>
            <textarea
                required
              placeholder="Enter your post..."
              class="form-control"
              name="body"
              id="body"
              rows="5"
            >{{post.body}}</textarea>
          </div>
          <div class="form-group">
            <label for="AllowComments">
                Allow Comments
                <input {{#if post.allowComments}} checked {{/if}} name="allowComments" type="checkbox" id="AllowComments">
            </label>

        </div>
        <input type="submit" value="Edit" class="btn btn-primary btn-block">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  {{#if error}}
    swal("Oops!", "Creating Post Faild. Please complete all fields.", "error")
  {{/if}}
  {{#if postEdit}}
    swal("Done!", "Post Edited successfuly.", "success").then(()=>{
            window.location.href ='/admin/posts';
        })
  {{/if}}
</script>