<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a href="/admin/comments">
                Comments
            </a>
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <h1>
                Comments
            </h1>
        </div>
        <div class="col-md-12 form-group" style="margin-top: 50px;">
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr>
                        <th>id</th>
                        <th>Author</th>
                        <th>Owner</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {{#each comments}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{user}}</td>
                        <td>{{date}}</td>
                        {{!-- <td>
                            <a href="#"><i class="fa fa-edit fa-lg"></i></a>
                            <form action="/admin/comments/{{id}}?_method=DELETE" method="POST" style="all: unset;">
                                <button type="submit" style="all: unset;cursor:pointer">
                                    <i class="fa fa-trash fa-lg text-danger"></i>
                                </button>
                            </form>
                        </td> --}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script>
    {{!-- $(function () {
        $('.fa-edit').on('click', (e) => {
            let $el = $(e.target).parent().parent().prev();
            if ($('#editForm').length == 1) {
                let inputvalue = $el.find('input').val().trim();
                $('#editForm').remove();
                $el.html(inputvalue)
            } else {
                let value = $el.text();
                let id = $el.prev().text();
                $el.html(`
                <form id="editForm" action="/admin/categories/edit/${id}?_method=PUT" method="POST" class="col-md-12 row">
                    <input name="newName" type="text" class="form-control col-md-10" value="${value}">
                    <button class="btn btn-block btn-primary col-md-2">Edit</button>
                </form>
            `)
            }

        })
    }) --}}
</script>