<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                Dashboard
            </a>
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <h1>
                Restricted!
            </h1>
        </div>
        <div class="col-md-12 form-group" style="margin-top: 50px;">
            You do not have permission for this page!
        </div>
    </div>
</div>